<div class="wrapper">
  <h2>Class Timetable</h2>
  <table class="classTimetable">
    <thead>
      <tr>
        <td>Class</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Boxing</td>
      <td>18:15 - 19:15</td>
      <td></td>
      <td>18:30 - 19:30</td>
      <td></td>
      <td>18:15 - 19:15</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Amateur Boxing</td>
      <td>19:30 - 21:00</td>
      <td></td>
      <td>19:30 - 21:00</td>
      <td></td>
      <td>16:30 - 18:00</td>
      <td>11:00 - 13:00</td>
      <td></td>
    </tr>
    <tr>
      <td>Body Mobile</td>
      <td></td>
      <td>18:30 - 19:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Total Body Conditioning</td>
      <td>9:30 - 10:00</td>
      <td>17:30 - 18:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Circuit Training</td>
      <td></td>
      <td></td>
      <td></td>
      <td>18:00 - 18:30</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Hung Sao Do Martial Arts</td>
      <td></td>
      <td></td>
      <td></td>
      <td>19:00 - 20:00</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
