<%= content_for(:title, "Contact us today if you have any queries") %>

<div class="wrapper">
  <div class="contact-form">
    <h2>Contact</h2>
    <p>Contact us via email or phone</p>
    <p>Email: <%= t('contact_details.email') %></p>
    <p>Phone: <%= t('contact_details.phone') %></p>
  </div>
</div>
