<%= content_for(:title, "Vision Gym offers a full weights area, free weight section, cardio suite, aerobics studio, boxing studio, sports therapists.") %>

<div class="wrapper">
  <%= render 'layouts/under_construction' %>
</div>
