<%= content_for(:title, "Vision Gym offers a full weights area, free weight section, cardio suite, aerobics studio, boxing studio, sports therapists.") %>

<div class="row">
  <div class="large-9 small-12 small-centered columns">

    <ul class="clearing-thumbs" data-clearing>
      <li><a href="/images/gym1.jpg"><img src="/images/gym1-th.jpg"</a></li>
      <li><a href="/images/gym2.jpg"><img src="/images/gym2-th.jpg"</a></li>
      <li><a href="/images/gym3.jpg"><img src="/images/gym3-th.jpg"</a></li>
      <li><a href="/images/gym4.jpg"><img src="/images/gym4-th.jpg"</a></li>
      <li><a href="/images/gym6.jpg"><img src="/images/gym6-th.jpg"</a></li>
      <li><a href="/images/gym7.jpg"><img src="/images/gym7-th.jpg"</a></li>
      <li><a href="/images/gym8.jpg"><img src="/images/gym8-th.jpg"</a></li>
      <li><a href="/images/gym9.jpg"><img src="/images/gym9-th.jpg"</a></li>
      <li><a href="/images/gym10.jpg"><img src="/images/gym10-th.jpg"</a></li>
      <li><a href="/images/gym11.jpg"><img src="/images/gym11-th.jpg"</a></li>
      <li><a href="/images/gym12.jpg"><img src="/images/gym12-th.jpg"</a></li>
      <li><a href="/images/gym13.jpg"><img src="/images/gym13-th.jpg"</a></li>
      <li><a href="/images/gym14.jpg"><img src="/images/gym14-th.jpg"</a></li>
      <li><a href="/images/gym15.jpg"><img src="/images/gym15-th.jpg"</a></li>
      <li><a href="/images/gym16.jpg"><img src="/images/gym16-th.jpg"</a></li>
    </ul>

  </div>
</div>
