<div class='wrapper'>
  <h2>KETTLE X FIT</h2>
  <p>A kettle bell based work out combined with body weight exercises designed to improve functional strength, burn fat and increase general fitness levels. Suitable for all fitness levels.</p>
</div>
