<div class='wrapper'>
  <h2>L.B.T</h2>
  <p>Lower Body Training. A class designed to hit those problem areas: legs, bums, and tums – a conditioning workout to strengthen and burn fat. Suitable for all fitness levels.</p>
</div>
