<%= content_for(:title, "Special offer for a limited time only, come and join for only £15 per month peak gym membership.") %>

<div class="wrapper">
  <h2 class="text-center">Membership</h2>

  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Peak</li>
      <li class="price">£14.99</li>
      <li class="bullet-item">12 months contract</li>
      <li class="bullet-item">Use of all facilities at all times</li>
      <li class="bullet-item">Includes 200 classes per month</li>
      <li class="cta-button"><%= link_to "Join Now", "https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1X", target: "_blank", class: "button radius", onClick: "ga('send', 'event', 'button', 'click', 'membership-join', {'nonInteraction': 1});" %></li>
    </ul>
  </div>

  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Platinum</li>
      <li class="price">£35</li>
      <li class="bullet-item">12 months contract</li>
      <li class="bullet-item">Use of all facilities at all times</li>
      <li class="bullet-item">Over 200 classes per month including Boxing, MMA, Strength and Conditioning</li>
      <li class="cta-button"><%= link_to "Join Now", "https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1X", target: "_blank", class: "button radius", onClick: "ga('send', 'event', 'button', 'click', 'membership-join', {'nonInteraction': 1});" %></li>
    </ul>
  </div>

  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Flexi</li>
      <li class="price">£29.99</li>
      <li class="bullet-item">Rolling 30 day contract</li>
      <li class="bullet-item">Use of all facilities at all times</li>
      <li class="bullet-item">Includes 200 classes per month</li>
      <li class="cta-button"><%= link_to "Join Now", "https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1X", target: "_blank", class: "button radius", onClick: "ga('send', 'event', 'button', 'click', 'membership-join', {'nonInteraction': 1});" %></li>
    </ul>
  </div>
</div>
