<div class="row">
  <div class="small-12 columns">
    <div class="small-12 medium-6 columns">
      <h3>Facilities</h3>
      <ul>
        <li>Huge CV Area</li>
        <li>Huge weights section</li>
        <li>Olympic lifting</li>
        <li>Strongman training</li>
        <li>Aerobic Studio</li>
        <li>Spin Studio</li>
        <li>Boxing Gym</li>
        <li>MMA Gym</li>
        <li>Protein Shop</li>
        <li>Cafe</li>
        <li>Personal trainers</li>
      </ul>
    </div>
    <div class="small-12 medium-6 columns">
      <h3>Opening times</h3> 
      <p>Mon - Fri 6am - 10pm</p>
      <p>Sat - Sun 8am - 8pm</p>
    </div>
    <div class="small-12 medium-6 columns">
      <h3>Contact info</h3>
      <p>Contact: 0191 447 6919</p>
      <p>Email: memberships@visionhealthandfitness.co.uk</p>
      <p>Unit 2 Sands Industrial Estate, (opposite B&Q)</p>
      <p>Swalwell,</p>
      <p>Gatesheadi,</p>
      <p>NE16 3DJ</p>
    </div>
  </div>
</div>
