<div class='wrapper'>
  <h2>PILATES HIIT</h2>
  <p>This class combines Pilate’s principles and exercises, with short bursts of high intensity cardio to produce a power packed workout designed to improve all over fitness.</p>
</div>
