<div class="wrapper">
  <h3 class="text-center">Memberships for our new gym opening early 2016</h3>
  <div class="large-4 small-12 columns">
    <ul class="pricing-table">
      <li class="title">Peak</li>
      <li class="price">£14.99 per month</li>
      <li class="description">This is the peak membership</li>
      <li class="bullet-item">Includes gym use 7 days a week at all hours</li>
      <li class="bullet-item">Spin classes, functional training classes and all classes in the aerobics studio (over 50 classes per week)</li>
      <li class="cta-button"><%= link_to "Join Now", "https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1H", target: "_blank", class: "button radius", onClick: "ga('send', 'event', 'button', 'click', 'membership-join', {'nonInteraction': 1});" %></li>
    </ul>
  </div>
  <div class="large-4 small-12 columns">
    <ul class="pricing-table">
      <li class="title">Platinum</li>
      <li class="price">£35 per month</li>
      <li class="description">This is the platinum membership</li>
      <li class="bullet-item">Includes gym use 7 days a week at all hours</li>
      <li class="bullet-item">All classes, spinning, aerobics, studio classes, functional training, crossfit, olympic lifting, boxing, mma & strongman training.</li>
      <li class="cta-button"><%= link_to "Join Now", "https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1H", target: "_blank", class: "button radius", onClick: "ga('send', 'event', 'button', 'click', 'membership-join', {'nonInteraction': 1});" %></li>
    </ul>
  </div>
  <div class="large-4 small-12 columns">
    <ul class="pricing-table">
      <li class="title">Platinum Plus</li>
      <li class="price">£55 per month</li>
      <li class="description">This is the platinum plus membership</li>
      <li class="bullet-item">Includes gym use 7 days a week at all hours</li>
      <li class="bullet-item">All classes</li>
      <li class="bullet-item">Unlimited group PT sessions</li>
      <li class="cta-button"><%= link_to "Join Now", "https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1H", target: "_blank", class: "button radius", onClick: "ga('send', 'event', 'button', 'click', 'membership-join', {'nonInteraction': 1});" %></li>
    </ul>
  </div>
</div>
