<div class='wrapper'>
  <h2>TOTAL BODY</h2>
  <p>A full body workout combining interval training and body weight exercises designed to improve all over fitness. Suitable for all fitness levels.</p>
</div>
