<div class='wrapper'>
  <h2>TRX</h2>
  <p>A total body suspension workout that leverages gravity with your own body weight to provide the resistance to improve your strength, core stability, balance and flexibility. Suitable for all fitness levels.</p>
</div>
