<div class='wrapper'>
  <h2>ULTIMATE ENDURANCE</h2>
  <p>The ultimate workout designed to improve strength, endurance and cardiovascular fitness. Test your fitness levels with this total body workout. Suitable for intermediate and advanced exercisers.</p>
</div>
