<div class="row employee-index-header">
  <div class="small-12 columns">
    <h3>Users</h3>
  </div>
</div>
<%= link_to "New user", new_backend_user_path, class: "button radius" %>

<div class="user-list">
  <table width="100%">
    <thead>
      <tr>
        <th>User</th>
        <th>User Login</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
      <td><%= link_to "#{user.last_name} #{user.first_name}", backend_user_path(user) %></td>
      <td> <%= user.username %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
