 @import "foundation_and_overrides";
 @import "foundation-icons";
 @import "visionhealthandfitness";
 @import "flaticon";
/*
 *= require_tree .
 *= require_self
*/

$green: #2ecc71;
$red: #e74c3c;
$orange: #f39c12;
$blue: #3498db;
$purple: #9b59b6;

.red {
  background: $red;
}

.blue {
  background: $blue;
}

.green {
  background: $green;
}

.orange {
  background: $orange;
}

.purple {
  background: $purple;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.small-text {
  font-size: 0.6em;
}


//@import "compass/css3";

// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  min-width: 250px; // adjust to your needs
  margin: 0 auto;
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}


// presentational styling

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }
}

.rwd-table {
  p {
    font-size: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  td[data-th] {
    text-align: center;
  }
  td {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .rwd-table {
    max-width: 320px !important;
    padding: 0;
    margin: 0;
  }
  p {
    text-align: center;
  }
}


