<div class="row customer-index-header">
  <div class="small-12 columns">
    <h3>Blowouts</h3>
  </div>
</div>

<div class="customer-list">
  <table width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone number</th>
      </tr>
    </thead>
    <tbody>
    <% @customers.each do |customer| %>
      <tr>
      <td><%= link_to "#{customer.last_name} #{customer.first_name}", backend_customer_path(customer) %></td>
      <td><%= customer_tel(customer) %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
