<h2>Page under construction</h2>
<p>This page will be available soon, sorry...</p>
<p>In the meantime you can check out <%= link_to "our facebook page", "https://www.facebook.com/VisionHealthFitnessClub" %>, which is updated regularly and has pictures and info regarding the gym</p>
